{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Team br2p {% endblock %}
{% block content %}

<section class="content">
	<div class="container-fluid">

		<br>
		<div class="row">
			<div class="col-3">
                <div class="card">
                    <div class="card-header">
                        Search
                    </div>
                    <div class="card-body">
                        <input type="text" class="form-control" placeholder="Enter Keyword">
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info">Search</button>
                    </div>
                </div>
			</div>
			<div class="col-9">
                <div class="row">
                    
                    {% for item in items %}
                        <div class="col-3">
                            <a href="product?product_id={{item[5]}}" style="color: #212529;">
                                <div class="card">
                                    <div class="card-body" style="max-height: 210px !important;">
                                        <center>
                                            <img style="height: 180px;" src="{{item[3]}}" alt="Photo">
                                        </center>
                                    </div>
                                    <div class="card-footer">
                                        <span class="detail">$ {{item[2]}}</span>
                                        <span class="detail">{{item[1]}}</span>
                                        <span class="detail">{{item[4]}}</span>
                                        <span class="detail">
                                            <i class="fas fa-map-marker" aria-hidden="true"></i> 
                                            {{item[0]}}
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                       
                </div>
			</div>
		</div>

	</div>
</section>

{% endblock %}