{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Signup {% endblock %}
{% block content %}

<section class="content">
	<div class="container-fluid">
        <br>
        
        <form class="form-signin" enctype="multipart/form-data" method="POST" action="/signup">
            {{ form.hidden_tag() }}

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Sign Up</h3>
                        </div>
                        
                        <div class="card-body">

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="card card-info">
                                        <div class="card-header">
                                            <h3 class="card-title">Photo</h3>
                                        </div>
                                        
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label style="width: 100%;" for="">Profile Picture</label>
                                                    <br>
                                                    <input type='file' name="profile_picture" id="Profile-Picture" />
                                                    <img style="width: 100px;" id="Profile-Picture-Image" src="{{ url_for('static',filename='img/avatar.png') }}" alt="your image" />
                                                    <!-- {{ wtf.form_field(form.profile_picture) }} -->
                                                </div>
                                                <div class="col-md-6">
                                                    <label style="width: 100%;" for="">1st Valid ID</label>
                                                    <br>
                                                    <input type='file' name="valid_id1" id="Valid-ID-1" />
                                                    <img style="width: 100px;" id="Valid-ID-1-Image" src="{{ url_for('static',filename='img/avatar.png') }}" alt="your image" />
                                                    <!-- {{ wtf.form_field(form.valid_id1) }} -->
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6">
                                                    <label style="width: 100%;" for="">2nd Valid ID</label>
                                                    <br>
                                                    <input type='file' name="valid_id2" id="Valid-ID-2" />
                                                    <img style="width: 100px;" id="Valid-ID-2-Image" src="{{ url_for('static',filename='img/avatar.png') }}" alt="your image" />
                                                    <!-- {{ wtf.form_field(form.valid_id2) }} -->
                                                </div>
                                                <div class="col-6"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="card card-info">
                                        <div class="card-header">
                                            <h3 class="card-title">Personal Info</h3>
                                        </div>
                                        
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    {{ wtf.form_field(form.first_name) }}
                                                    {{ wtf.form_field(form.username) }}
                                                    {{ wtf.form_field(form.age) }}

                                                </div>
                                                <div class="col-md-4">
                                                    {{ wtf.form_field(form.last_name) }}
                                                    {{ wtf.form_field(form.email) }}
                                                    {{ wtf.form_field(form.birthday) }}
                                                </div>
                                                <div class="col-md-4">
                                                    {{ wtf.form_field(form.middle_name) }}
                                                    {{ wtf.form_field(form.address) }}
                                                    {{ wtf.form_field(form.contact_number) }}
                                                </div>
                                            </div>
                                        </div>
                                        <br>

                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="card card-info">
                                        <div class="card-header">
                                            <h3 class="card-title">Card Details</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    {{ wtf.form_field(form.credit_card_number) }}
                                                    {{ wtf.form_field(form.credit_card_ccv) }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ wtf.form_field(form.credit_card_expire_month) }}
                                                    {{ wtf.form_field(form.credit_card_expire_year) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card card-info">
                                        <div class="card-header">
                                            <h3 class="card-title">Password</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    {{ wtf.form_field(form.password) }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ wtf.form_field(form.confirm) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="card-footer">
                            <button class="btn btn-success" type="submit">Sign Up</button>
                        </div>
                    </div>
                </div>

            </div>

        </form>
        

	</div>
</section>

{% endblock %}
